<?php
setup::Singleton()->save_construct('database', 'Singleton', array(
		array(	'phptype' 	=> 'mysqli',
			'backend'	=> 'pdo',
			'username'	=> 'pass_read',
			'password'	=> 'fsaaxwgnzyarjkhf',
			'hostspec'	=> 'localhost',
			'database'	=> 'phppass1',
			'prefix'	=> 'tbl_'),
		true,
		array(	'phptype' 	=> 'mysqli',
			'backend'	=> 'pdo',
			'username'	=> 'pass_writ',
			'password'	=> 'fsaaxwgnzyarjkhf',
			'hostspec'	=> 'localhost',
			'database'	=> 'phppass1',
			'prefix'	=> 'tbl_'
		),
	)
);

setup::Singleton()->save_construct('session', 'Singleton', array());
setup::Singleton()->save('allow_rewrite', true);
setup::Singleton()->save('random_key', sha1('2fe8b327381ba67d770d22fddff246dca71f0b4e'.md5($_SERVER['SCRIPT_NAME']).__FILE__));
setup::Singleton()->save('server_os', 'unix');
setup::Singleton()->save('max_sha_hash', 'sha512');
setup::Singleton()->save('session_handler', 'memcached');
